<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>TERMINATOR TARGET</title>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <style> 
    .times {
    font-family: OCR A Std, monospace;
    }
    </style>
</head>
<body>
<div class="bg"></div>
<div class="left">
  <div class="tracking">
  <p class = "times">ЗАХВАТ:<br>*****************<br><br>234654 453 30<br>054334 450 &nbsp;1&thinsp;6<br>24526&nbsp;1 865 26<br>463665 766 46<br>382456 463 09<br><br>356878 &thinsp;544 04<br>6542&nbsp;1&thinsp;7 985 89<br>254348 956 32
  </p>
  </div>
  <div class="scan-level">
  <p class = "times">
    СКАНИРОВАНИЕ ПАРАМЕТРОВ:<br>*****************<br><br>234654 453 30<br>654334 450 &nbsp;1&thinsp;6<br>24526&thinsp;1&thinsp; 865 26<br>453665 766 &thinsp;46<br>382854 863 09<br>356878 544 &thinsp;04<br>6642&nbsp;1&thinsp;7 985 89<br>254346 956 32
  </p>
  </div>
  <div class="image-level">
  <p class = "times">
    ЦИФРОВАЯ<br>МАСКА:<br><br>234654<br>654334<br>24526&thinsp;1<br>453665<br>382846<br>356878<br>6642&nbsp;1&thinsp;7<br>254346</div>
  </p>
<div class="code-level"><p class = "times">КОД:<br><br>23 4654<br>65 4334<br>24 526&thinsp;1<br>45 3665<br>38 2846<br>35 6878<br>66 42&nbsp;1&thinsp;7<br>25 4346
  </p>
  </div>
  <div class="search-criteria"><p class = "times">КРИТЕРИИ ПОИСКА<br>МОД ВЫЧИСЛЕНИЯ 5498<br>ВСЕ ПАРАМЕТРЫ<br>ЗАФИКСИРОВАНЫ</p></div>
</div>

<div class="photo">
  <div class="image">
    <div class="face-px"></div>
  </div>
</div>

<div class="right">
  <div class="compass">
    <span></span><span></span><span></span><span></span>
    <div class="speed">
    <p class = "times">
      БОКОВАЯ СКОРОСТЬ 573 3589<br>ТРАЕКТОРИЯ 600 2372<br>ЛС КОРРЕКЦИЯ 8 3553<br>АКСЕЛЕРАЦИЯ 328 5993<br>ФИКСАЦИЯ ВЫСОТЫ 305 0050
    </p>
    </div>
  </div>
<p class = "times">
  <div class="zoom-parameters">
    ПАРАМЕТР УВЕЛИЧЕНИЯ<br>************************************<br><br>234567 536 67<br>876564 435 68<br>45753 589 34<br>986756 452 34<br>354768 342 23<br>3546992 4<br>69023 004 94
  </div>
  <div class="image-enhance">
    УЛУЧШЕНИЕ ИЗОБРАЖЕНИЯ<br>МОД 423-6503<br><br>СИКВЕНЦИЯ 20<br><br>
    <div class="sep"></div>ПАРАМЕТР СКОРОСТИ<br><br>234654 453 30<br>САТУ 654334 450 6<br>БЛАН 24526 865 26<br>КОНТ 453665 766 46<br>СХРП 382456 463 09<br>БЛУР 356878 544 04<br><br>МОНТ 66427 985 89<br>ГАУС 254346 956 32<br>ЕКВА 234654 453 30<br>ТХРС 654334 450 6<br>
  </div>
  <div class="match-criteria">
    КРИТЕРИИ СООТВЕТСТВИЯ<br>
    <div class="sep"></div>СЕТЕВОЙ ФАЙЛ 342-589<br>ОПИСАНИЕ МИССИИ<br>
    <div class="sep"></div>БАРУЛИН, МАКСИМ<br>************************************<br>РОСТ 234654 453 30<br>ВЕС 654334 450 6<br>ВОЛОСЫ 24526 865 26<br>ГЛАЗА 453665 766 46<br>ПОЛ 382854 863 09<br>ОСАНКА 356878 544 04<br>ЛИЦО 6642 985 89<br>ТЕЛО 254346 956 32<br>БИОМЕТРИЯ 453665 766 46<br><br>ПРОЦЕНТНОЕ СОВПАДЕНИЕ<br>
    <div class="sep"></div>99.45036 ВЕРОЯТНОСТЬ
  </div>
</div>
</p>
<div class="bottom"><span>&#9724;</span></div>
    

</body>
</html>